{% extends "base.html" %}

{% block content %}
<div class="breadcrumb-area pt-100 pb-100 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                <div class="breadcrumb-text text-center">
                    <h3>Что такое Favorit Motors?</h3>
                    <p>Favorit Motors - это площадка, где отбражены объявления о продаже авто со всей России!<br>
                        Присоединяйся и ты!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 mb-30">
                <div class="about-img">
                    <img src="/static/img/about.png" alt=""/>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about-wrapper">
                    <div class="about-text">
                        <h4 class="about-title">Задачи проекта</h4>
                        <p>Главное для нас - это возможность доступной продажи автомобилей между пользователями.
                            Поэтому была создана единая лента объявлений, где отображены все объявления от всех
                            пользователей платформы.
                            Это позволяет получать информацию о автомобилях разных категорий без вложений в продвижении
                            объявления.
                            Продай или найди новое авто быстро и напрямую - слоган нашей платформы.</p>
                        <h4 class="about-title">Как начать?</h4>
                        <ul class="about-link">
                            <li>Зарегистрируйся</li>
                            <li>Изучи ленту объявлений</li>
                            <li>Создай собственное объявление</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}